<div class="container mx-auto">
      <div class="flex items-center justify-between py-6 lg:py-10">
        <a href="/" class="flex items-center">
          <span href="/" class="mr-2">
            <img src="/assets/img/logo.svg" alt="logo" />
          </span>
          <p class="hidden font-body text-2xl font-bold text-primary dark:text-white lg:block">
            Medium Clone
          </p>
        </a>
        <div class="flex items-center lg:hidden">
          <i class="bx mr-8 cursor-pointer text-3xl text-primary dark:text-white" @click="themeSwitch()"
            :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"></i>

          <svg width="24" height="15" xmlns="http://www.w3.org/2000/svg" @click="isMobileMenuOpen = true"
            class="fill-current text-primary dark:text-white">
            <g fill-rule="evenodd">
              <rect width="24" height="3" rx="1.5" />
              <rect x="8" y="6" width="16" height="3" rx="1.5" />
              <rect x="4" y="12" width="20" height="3" rx="1.5" />
            </g>
          </svg>
        </div>
        <div class="hidden lg:block">
          <ul class="flex items-center">

            <%# <li class="group relative mr-6 mb-1">
              <div
                class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
              </div>
              <a href="/"
                class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Intro</a>
            </li> %>
            <% if user_signed_in? %>
                <li class="group relative mr-6 mb-1">
                <div
                    class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <a href="/blog"
                    class="relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary">Blog</a>
                </li>
                <li class="group relative mr-6 mb-1">
                <div
                    class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <%= link_to "New Post", new_post_path,class: "relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary" %>
                </li>

                <li class="group relative mr-6 mb-1">
                <div
                    class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <%= link_to "Edit Profile",edit_user_registration_path,class: "relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary" %>
                </li>

                <li class="group relative mr-6 mb-1">
                <div
                    class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <%= link_to "Sign Out",destroy_user_session_path, method: :delete, class: "relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary", data: { turbo_confirm: 'Are you sure?', "turbo-method": :delete } %>
                </li>
            <%else%>
                <li class="group relative mr-6 mb-1">
                <div
                    class="absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <%= link_to "Sign Up",new_user_registration_path,class: "relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary" %>
                </li>

                <li class="group relative mr-6 mb-1">
                <div
                    class=" absolute left-0 bottom-0 z-20 h-0 w-full opacity-75 transition-all group-hover:h-2 group-hover:bg-yellow">
                </div>
                <%= link_to "Log In",new_user_session_path, method: :delete, class: "relative z-30 block px-2 font-body text-lg font-medium text-primary transition-colors group-hover:text-green dark:text-white dark:group-hover:text-secondary" %>
                </li>
            <%end%>
            <li>
              <i class="bx cursor-pointer text-3xl text-primary dark:text-white" @click="themeSwitch()"
                :class="isDarkMode ? 'bxs-sun' : 'bxs-moon'"></i>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div
      class="pointer-events-none fixed inset-0 z-50 flex bg-black bg-opacity-80 opacity-0 transition-opacity lg:hidden"
      :class="isMobileMenuOpen ? 'opacity-100 pointer-events-auto' : ''">
      <div class="ml-auto w-2/3 bg-green p-4 md:w-1/3">
        <i class="bx bx-x absolute top-0 right-0 mt-4 mr-4 text-4xl text-white" @click="isMobileMenuOpen = false"></i>
        <ul class="mt-8 flex flex-col">

          <li class="">
            <a href="/" class="mb-3 block px-2 font-body text-lg font-medium text-white">Intro</a>
          </li>

          <li class="">
            <a href="/blog" class="mb-3 block px-2 font-body text-lg font-medium text-white">Blog</a>
          </li>

          <li class="">
            <a href="/uses" class="mb-3 block px-2 font-body text-lg font-medium text-white">Sign Out</a>
          </li>

          <li class="">
            <a href="/contact" class="mb-3 block px-2 font-body text-lg font-medium text-white">Edit Profile</a>
          </li>

        </ul>
      </div>
</div>