<div>
    <div class="container mx-auto">
        <div class="pt-16 lg:pt-20">
          <div class="border-b border-grey-lighter pb-8 sm:pb-12">
            <span
              class="mb-5 inline-block rounded-full bg-green-light px-2 py-1 font-body text-sm text-green sm:mb-8">category</span>
            <h2
              class="block font-body text-3xl font-semibold leading-tight text-primary dark:text-white sm:text-4xl md:text-5xl">
              <%= @post.title%>
              
            </h2>
            <div class="flex items-center pt-5 sm:pt-8">
              <p class="pr-2 font-body font-light text-primary dark:text-white">
                <%= @post.created_at.strftime("%B %d, %Y") %>
              </p>
              <span class="vdark:text-white font-body text-grey">//</span>
              <p class="pl-2 font-body font-light text-primary dark:text-white">
                4 min read
              </p>
              <%# <%= @post.user.email.split('@').first %>
            </div>
          </div>
          <div class="prose prose max-w-none border-b border-grey-lighter py-8 dark:prose-dark sm:py-12">
            <%= image_tag @post.photo %>
           <p class="text-justify"><%= @post.description %></p>
          </div>
          <div class="px-5 py-5">
                <% @post.comments.each do |comment| %>
                    <div class="px-2">
                        <p class="mb-5">
                            <%= comment.user.email.split('@').first %> 
                            <%= comment.description %>
                        </p>
                    </div>
                <% end %>
            </div>
            <%if current_user%>
                <%= simple_form_for Comment.new, url: post_comments_path(@post), method: :post do |f| %>
                    <%= f.input :description, label: 'Comment', placeholder: 'Add a comment', label_html: {class: 'mt-4'}, input_html: {class: "bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-md focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-50 dark:border-gray-600 dark:placeholder-gray-500 dark:text-black dark:focus:ring-blue-500 dark:focus:border-blue-500"} %>
                    <%= f.submit 'Post', class: 'text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800' %>
                <% end %>
            <%end%>
        </div>
    </div>
</div>








 
































